
@{
    ViewBag.Title = "CatRegister";
}

<h2>Category Register</h2>

<form method="post">
    <input type="hidden" name="ID" class="form-control" />
    Name: <input type="text" name="Name" class="form-control" />
    <input type="submit" name="Submit" class="btn-success">


</form>

